* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1d1d1d;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                      TYPO                    | */
/* |                                              | */
/* |----------------------------------------------| */


h1,
h2,
h3,
h3,
p,
a,
span {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    HEADER                    | */
/* |                                              | */
/* |----------------------------------------------| */

nav {
    background-color: #2D2D2D;
    width: 60px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 100;
    transition: .3s;
}

nav:hover {
    width: 290px;
}

nav h1 {
    text-align: center;
    font-size: .6rem;
}

nav .logo {
    padding: 25px 0;
    background-color: black;
    margin-bottom: 10px;
}

nav .logo img{
    width: 4rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

nav li {
    padding: 15px;
    transition-duration: .3s;
    margin: 5% 0;
    margin-bottom: 0;
}

.catalogue li:hover {
    background-color: #871eb4 !important;
}

nav .categories li:nth-child(8):hover {
    background-image: url(/img/accessoire/accessoirebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav .categories li:nth-child(7):hover {
    background-image: url(/img/manette/manettebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav .categories li:nth-child(6):hover {
    background-image: url(/img/souris/sourisbg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav .categories li:nth-child(5):hover {
    background-image: url(/img/clavier/keyboardbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav .categories li:nth-child(4):hover {
    background-image: url(/img/casque/casquebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav .categories li:nth-child(3):hover {
    background-image: url(/img/moniteur/moniteurbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav .categories li:nth-child(2):hover {
    background-image: url(/img/ordi/ordibg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav li.off {
    text-align: center;
}

nav li.off:hover{
    background-color: #9b59b6;
}

nav li i {
    font-size: 25px;
    color: #fff;
}

nav li span {
    margin-left: 20px;
    font-size: 21px;
    font-weight: 700;
}

nav li a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 17px;
}


nav p {
    border-bottom: 2px dashed #8e44ad;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    ACCUEIL                   | */
/* |                                              | */
/* |----------------------------------------------| */

.accueil {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
}

.slider {
    position: relative;
    background: rgb(35,0,47);
    background: linear-gradient(180deg, rgba(35,0,47,1) 0%, rgba(113,0,101,1) 35%, rgba(150,0,180,1) 100%);
    max-width: 70rem;
    height: 25rem;
    margin: auto;
    border-radius: 15px;
    margin-top: 5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider article {
    display: none;
    max-width: 80%;
    margin: auto;
    color: white;
}

.slider .active {
    display: block;
    animation: fadeIn .5s;
}

.container-slider {
    display: flex;
}

.container-slider img {
    width: 25rem;
}

.details-produit h1 {
    font-size: 2.3rem;
}

.details-produit hr {
    margin: 5% 0;
    color: white;
}


.details-produit button {
    margin: 5% 0;
    padding: 3% 10%;
    font-size: 1.5rem;
    color: #871eb4;
    border-radius: 50px;
    background-color: white;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.details-produit button:hover {
    background-color: #871eb4;
    color: white;
}



/* |----------------------------------------------| */
/* |                                              | */
/* |                    PRODUIT                   | */
/* |                                              | */
/* |----------------------------------------------| */



.wrapper-produit, .hidden {
    width: 80rem;
    margin: auto;
    margin-top: 5rem;
}

.hidden {
    display: none;
    animation: fadeIn .5s;
}


.filtre button {
    border: solid 1px white;
    padding: 1% 2%;
    margin-left: 1%;
    border-radius: 50px;
    background-color: transparent;
    color: white;
}

.filtre button:hover {
    border-color: #871eb4;
    background-color: #871eb4;
}

.filtre button:last-child {
    border: solid 1px #871eb4;
}


.filtre button:last-child:hover {
    background-color: #871eb4;
}

.container-produits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.container-pdt {
    background-color: #2D2D2D;
    border-radius: 20px;
    width: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;
}

.container-pdt img {
    width: 20rem;
}

.container-pdt img:hover {
    animation: pulse .4s;
}

.container-pdt .categorie {
    opacity: .5;
    font-size: 1rem;
}

.container-pdt h3 {
    font-size: 2rem;
    text-align: center;
}

.container-pdt h3, p {
    margin: 5% 0;
}

.container-pdt button, .plus {
    margin: 5% 0;
    padding: 3% 10%;
    font-size: 1.5rem;
    color: #871eb4;
    border-radius: 50px;
    background-color: white;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.container-pdt button:hover {
    background-color: #871eb4;
    color: white;
}


.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-center .plus:hover {
    background-color: #871eb4;
    color: white;
}

.plus {
    padding: 1% 3% !important;
    font-size: 1rem !important;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    MANETTE                   | */
/* |                                              | */
/* |----------------------------------------------| */



.background{
    background-image: url(/img/manette/manettebg.png) !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25vh;
    margin: auto;
    margin-top: 2rem;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;

}

.background:hover {
    height: 40vh;
}

.background h1{
    font-size: 3.5rem;
    background-color:#871eb4;
    padding: 1% 5%;
    border-radius: 30px;
}


.container-pdt-manette {
    background-color: #2D2D2D;
    border-radius: 20px;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem;
}


.container-pdt-manette p:nth-last-child(3) {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.container-pdt-manette p:nth-last-child(2) {
    font-size: 3rem;
    color: red;
    margin: 0;
}

.container-pdt-manette h3 {
    font-size: 3rem;
    text-align: center;
}

.container-pdt-manette h3, p {
    margin: 5% 0;
}

.container-pdt-manette button, .plus {
    margin: 5% 0;
    padding: 3% 10%;
    font-size: 1.5rem;
    color: #871eb4;
    border-radius: 50px;
    background-color: white;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.container-pdt-manette button:hover {
    background-color: #871eb4;
    color: white;
}

.container-pdt-manette .colors {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
}

.container-pdt-manette .colors img {
    width: 20%;
    cursor: pointer;
}

<<<<<<< Updated upstream
#manette .wrapper-container-produits {
    display: none;
    flex-direction: column;
}

.visible {
    display: flex !important;
    animation: fadeIn 1s;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    ORDINATEUR                | */
/* |                                              | */
/* |----------------------------------------------| */



#ordinateur .background{
    background-image: url(/img/ordi/ordibg.jpg) !important;
}

#ordinateur .wrapper-container-produits {
    flex-direction: column;
    display: none;
}

#ordinateur .container-select-ordi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#ordinateur #ordiType {
    padding: 1% 4%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

#ordiType option {

    background-color: black;
}
=======
.xbox-controller, .ps-controller {
    animation: bounce .5s;
}

>>>>>>> Stashed changes


/* |----------------------------------------------| */
/* |                                              | */
/* |                    MONITEUR                  | */
/* |                                              | */
/* |----------------------------------------------| */



#moniteur .background{
    background-image: url(/img/moniteur/moniteurbg.jpg) !important;
}

#moniteur .wrapper-container-produits {
    display: none;
    flex-direction: column;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    CASQUE                    | */
/* |                                              | */
/* |----------------------------------------------| */



#casque .background{
    background-image: url(/img/casque/casquebg.jpg) !important;
}

#casque .wrapper-container-produits {
    display: none;
    flex-direction: column;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    CLAVIER                   | */
/* |                                              | */
/* |----------------------------------------------| */



#clavier .background{
    background-image: url(/img/clavier/keyboardbg.jpg) !important;
}

#clavier .wrapper-container-produits {
    display: none;
    flex-direction: column;
}


/* |----------------------------------------------| */
/* |                                              | */
/* |                    SOURIS                    | */
/* |                                              | */
/* |----------------------------------------------| */



#souris .background{
    background-image: url(/img/souris/sourisbg.jpeg) !important;
}

#souris .wrapper-container-produits {
    display: none;
    flex-direction: column;
}



/* |----------------------------------------------| */
/* |                                              | */
/* |                    ACCESSOIRE                | */
/* |                                              | */
/* |----------------------------------------------| */



#accessoire .background{
    background-image: url(/img/accessoire/accessoirebg.jpg) !important;
}

#accessoire .wrapper-container-produits {
    display: none;
    flex-direction: column;
}



/* |----------------------------------------------| */
/* |                                              | */
/* |                    FOOTER                    | */
/* |                                              | */
/* |----------------------------------------------| */


footer {
    height: 10vh;
    width: 100%;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}